@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292e;
  --border-color: #28292e;

  --title-color: #9a9a9c;
  --text-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #c7c8c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body {
  background: var(--primary-bg-color);
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

i {
  color: var(--icon-color);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.header_brand h1 {
  font-size: 22px;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu-item {
  width: 100%;
}

.menu-mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border: 1px solid var(--border-color);
}

.menu-mobile .menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.menu-link.active .menu-icon, 
.menu-link.active .menu-text {
  color: var(--primary-color);
  font-size: 600;
}

.menu-icon, .menu-text {
  color: var(--text-color);
}

.menu-icon {
  font-size: 1.5rem;
}

.menu-text {
  font-size: .75rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}